body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Background_logIn{
    background-image: url("/Img/HomePic.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.LogIn{
    display: flex;
    height:730px;

   

}

.LogInLeft{
    /* background-image: url("Img/HomePic.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LogInLeft div{
    color: rgb(65, 64, 64);
    margin-left: 50px;
}
.LogInLeft p{
    color:#f2602b;
    font-size: 55px;
    margin-left: 10px;
    text-transform: uppercase;
  
    text-align: center;

}

.Images{
    width: 65%;
    height: 250px;
    border-radius: 15px;
}
.LogInRight{
    width: 55%;
    /* background-color: rgb(236, 231, 231); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogInRight form {
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    padding: 10px  30px 40px 18px; 
    width: 50%;
}
.LogInRight p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#f2602b ;
}

.LoginButton{
        padding: 10px 25px;
        background-color: #f2602b;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
       
        width: 100%;
}
.LoginButton:hover{
    background-color: rgba(95, 92, 92, 0.9);
}
.LogInRightItems a{
    color: rgb(58, 58, 241);
    font-size: 13px;
    margin-left: 55%;
}
.NewAcountButton{
    padding: 12px 30px;
    margin-left: 25%;
    margin-top: 15px;
    color: white;
    background-color: rgb(73, 73, 238);
    border: 1px solid rgb(73, 73, 238);
    border-radius: 6px;
}

.input_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:center;
    margin-bottom: 20px;
}

.input_container label {
    min-width: 100px;
}
.external_info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.external_info a {
    margin: 0;
}

input{
    padding: 12px 10px;
    border: 1px solid rgb(195, 187, 187);
    border-radius: 5px;
    flex-grow: 1;
}
input:focus {
    outline: none;
}