body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.LogIn{
    display: flex;
    height: calc(100vh - 90px);
}
.LogInLeft{
    background-color: #ff8002;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LogInLeft p{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;

}

.Images{
    width: 35%;
    border-radius: 15px;
}
.LogInRight{
    width: 60%;
    background-color: rgb(204, 198, 198);
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogInRight form {
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    padding: 10px  30px 40px 18px; 
    width: 40%;
}

.LoginButton{
        padding: 10px 25px;
        background-color: #F68B1F;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
       
        width: 100%;
}
.LogInRightItems a{
    color: rgb(58, 58, 241);
    font-size: 13px;
    margin-left: 55%;
}
.NewAcountButton{
    padding: 12px 30px;
    margin-left: 25%;
    margin-top: 15px;
    color: white;
    background-color: rgb(73, 73, 238);
    border: 1px solid rgb(73, 73, 238);
    border-radius: 6px;
}

.input_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:center;
    margin-bottom: 20px;
}

.input_container label {
    min-width: 100px;
}
.external_info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.external_info a {
    margin: 0;
}

input{
    padding: 12px 10px;
    border: 1px solid rgb(195, 187, 187);
    border-radius: 5px;
    flex-grow: 1;
}
input:focus {
    outline: none;
}