.donation__container {
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    background-image: url("/Img/HomePic.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.donation__containerleft h1{
    color: rgb(232, 76, 19);
    font-size: 45px;
}
.donation__containerleft{
    width: 45%;
}
.donation__containerleft p{
    font-size: 18px;
}

.donation__containerleft button{
    padding: 10px 25px;
    margin-top: 30px;
    border: 1px solid rgb(232, 76, 19);
    background-color: rgb(232, 76, 19);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
}