.DonationForm{
    
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    /* margin-left: 40%; */
    width: 380px;
    height: 330px;
  
}
.DonatironFormItems{
    box-sizing: border-box;
    margin: 20px 30px;
}
.DonatironFormItems p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(232, 76, 19);
}
.DonatironFormItems span{
    margin-bottom: 25px;
}
.inputcontainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:center;
    margin-bottom: 10px;
}
.inputcontainer input{
    border: none;
    
    border-bottom: 1px solid gray;
    border-radius: none;
    flex-grow: 1;
}

.identity{
    margin-bottom: 20px;
}
.pymentText{
    margin-bottom: 15px;
}
.ImageDiv img{
    margin-left: 25px;
    margin-top: 10px;

}

.DonatironFormItems button{
    padding: 10px 25px;
    margin-top: 30px;
    border: 1px solid rgb(232, 76, 19);
    background-color: rgb(232, 76, 19);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 100%;
}

/* 
create donation page
} */
#image{
    border: none;
    border-bottom: none;
}
.create-donation-form{
    width: 400px;
 
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
}

.create-donation-form h3{
    text-align: center;
   
    color:rgb(232, 76, 19) ;
}

.inputcontainers {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:center;
    margin-bottom: 10px;
}
.inputcontainers input{ 
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    border-radius: none;
    flex-grow: 1;
}
.donate_btn{
    padding: 10px 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid rgb(232, 76, 19);
    background-color: rgb(232, 76, 19);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 100%;
}

/* 
donation list page
*/
.Donatelist{
    background-color: white;
    border-top: 1px solid rgb(218, 213, 213);
}
.list__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -20px;
    gap: 20px
}
.Donatecontainer {
   padding: 10px 20px;
   width: 20%;
   /* padding: 10px; */
   background: rgb(231, 229, 229);
   border-radius: 5px;
   list-style: none;
   margin-bottom: 25px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}
.Donatecontainer button{
    padding: 10px 25px;
    margin-top: 30px;
    border: 1px solid rgb(232, 76, 19);
    background-color: rgb(232, 76, 19);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 100%;
}