.background_layer {
    position: absolute;
    background: #000;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal_container {
    background: #FFFFFF;
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 40%;
    border-radius: 10px;
    padding: 10px;
}
.close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    /* padding: 10px 10px; */
}
.close span {
    font-weight: bold;
    border: 2px solid black;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}